
body {
  margin: 0;
  font-family: 'Ink Free', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bgMoneyGreen {
  background-color: #70988B !important;
}

.bgCancelRed {
  background-color: #AC5348 !important;
}

.bgActionTeal {
  background-color: #061B23 !important;
}

.textMoneyGreen {
  color: #70988B !important;
}

.textCancelRed {
  color: #AC5348 !important;
}

.textActionTeal {
  color: #061B23 !important;
}

.italic {
  font-style: italic;
}

.page {
  text-align: left;
}
